body {
	width: 250px;
	transition: background-color 1s;
	padding-bottom: 5px;
	overflow: visible;
}

body.saved {
	transition: background-color 0s;
	background-color: #00ff003d;
}

.TitleBar {
	height: 40px;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.TitleBar #Icon {
	background-image: url("icons/icon_128.png");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	margin-left: 5px;
}

.TitleBar .TitleText {
	width: calc(100% - 40px);
	margin-top: 6px;
	margin-left: 5px;
	font-family: Arial;
	font-size: 25px;
	letter-spacing: 1px;
}

.PopupMain {
	margin: 0 10px;
	font-family: Arial;
}

.Header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}

.Header > span {
	font-style: italic;
	font-size: 14px;
}

#HotkeyOpen {
	background-color: transparent;
	border: 1px solid black;
	border-radius: 2px;
	transition: background-color 0.25s ease-in-out;
}

#HotkeyOpen {
	cursor: pointer;
	background-color: #8080802b;
}

#Hotkeys {
	position: absolute;
	display: flex;
	width: 100%;
	height: 0px;
	opacity: 0;
	background: linear-gradient(
		180deg,
		rgba(240, 240, 240, 1) 0%,
		rgba(240, 240, 240, 1) 85%,
		rgba(255, 255, 255, 0) 100%
	);
	z-index: 90;
	left: 0;
	top: 90px;
	transition: all 0.15s ease-in-out;
	padding-top: 10px;

	flex-direction: row;
	justify-content: space-around;
	pointer-events: none;
}

#Hotkeys.open {
	height: 75px;
	opacity: 1;
	pointer-events: all;
}

.Hotkey {
	display: flex;
	width: 40px;
	height: 60px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.HotkeyShort {
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid black;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;

	font-size: 20px;
	transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.HotkeyShort:hover {
	cursor: pointer;
	background-color: #8080802b;
	transform: scale(1.05);
}

.HotkeyShort.active {
	background-color: #808080c0;
}

.Placeholder {
	width: 100%;
	height: 3px;
	border-radius: 10px;
	background-color: #808080;
	margin: 8px 0;
}

.PopupSettingsEntry {
	position: relative;
	margin: 5px 0;
	font-size: 16px;
	cursor: default;
}

.PopupSettingsEntry input {
	position: absolute;
	right: 0px;
}

.PopupSettingsEntryTooltip {
	opacity: 0;
	position: absolute;
	width: calc(100% - 35px);
	top: -50%;
	left: 0;
	transition: opacity 0.15s ease-in-out;
	border: 1px solid black;
	border-radius: 2px;
	background-color: #191919;
	color: #fff;
	z-index: 85;
	padding: 5px;
	font-size: 12px;
}

.PopupSettingsEntry:hover .PopupSettingsEntryTooltip {
	opacity: 0.95;
}

.PopupSettingsEntryExtra {
	display: block;
	padding-left: 10px;
}

.PopupSettingsEntryExtra.Hidden {
	display: none;
}

.PopupSettingsEntryExtra input {
	min-width: 212px;
	font-family: "Courier New", Courier;
}

.PopupSettingsEntryExtra .OptContent {
	padding-left: 20px;
	justify-content: space-between;
	align-items: center;
	display: none;
}

.ShowOptContent .OptContent {
	display: flex;
}

.PopupSettingsEntryExtra .OptContent input {
	min-width: 25px;
	max-width: 25px;
	height: 12px;
	font-family: "Courier New", Courier;
	text-align: center;
}

.HasTooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.HasTooltip tooltip {
	visibility: hidden;
	min-width: 210px;
	background-color: #191919;
	color: #fff;
	text-align: center;
	padding: 5px;
	border-radius: 6px;
	opacity: 0.95;
	position: absolute;
	z-index: 1;
}

.HasTooltip:hover tooltip {
	visibility: visible;
}

tooltip ul {
	text-align: left;
}

tooltip code {
	font-size: 13px;
	color: #bcbcbc;
}

tooltip.Top {
	bottom: 100%;
	left: 50%;
	margin-left: -50%;
}

tooltip.Bottom {
	top: 100%;
	left: 50%;
	margin-left: -50%;
}

tooltip.Left {
	top: -5px;
	right: 105%;
}

tooltip.Right {
	top: -5px;
	left: 105%;
}
